capacitor-google-map {
  display: inline-block;
  width: 100%;
  height: 500px;
}

ion-button{
  font-family: 'Viaje', Comic Sans;
  --background: #3CE8BC;

}
ion-card-title{
  font-family: 'title', Comic Sans MS ;
}

ion-card-subtitle{
  font-family: 'Description', Comic Sans MS ;
}


h2{
  font-family: 'Costo Por Noche', Comic Sans MS ;
}

ion-label{
  font-family: 'Hotel', Comic Sans MS ;
  font-family: 'Comida', Comic Sans MS ;
  font-family: 'Viaje', Comic Sans MS ;
  font-family: 'Actividades', Comic Sans MS ;
  font-family: 'Distancia', Comic Sans MS ;
  font-family: 'costototal', Comic Sans MS ;
}

